body{
    width: 95vh;
    height: 95vw;
    display: flex;
    flex-direction: column;
}

table{
    clear:both;
    align-items: center;
    justify-content: center;
    
}

ul{
 
    list-style: none;
}

li{

}

#theSacredTable{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}